
prog_i_TP/
__pycache__/
ej_para_oral.py
.vscode/launch.json
TP5 Excepciones/tests.py
TP6 Archivos/rain_data.txt
comentarios.py
TP6 Archivos/ARMENIA.TXT
TP6 Archivos/ESPANA.TXT
TP6 Archivos/first_names.all.txt
TP6 Archivos/ITALIA.TXT
TP6 Archivos/last_names.all.txt
TP6 Archivos/New Text Document.csv
TP6 Archivos/nombres.txt
empleados.txt
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
Ejercitacion adicional/Archivos y Cadenas/lista_mails.csv
Ejercitacion adicional/Archivos y Cadenas/permanentes.csv
Ejercitacion adicional/Archivos y Cadenas/rain_data.txt
Ejercitacion adicional/Archivos y Cadenas/sueldos.csv
Ejercitacion adicional/Archivos y Cadenas/temporales.csv
Simulacro_2/frases.txt
Simulacro_2/palabras.txt
TP3 Matrices/matriz_sin_rep.py
TP5 Excepciones/.vscode/.ropeproject/config.py
TP5 Excepciones/.vscode/.ropeproject/objectdb
TP6 Archivos/archivo1.txt
TP6 Archivos/archivo2.txt
TP6 Archivos/archivo3.txt
TP6 Archivos/debug.log
TP6 Archivos/deportes.txt
TP6 Archivos/ejemplo.ipynb
TP6 Archivos/empleados1.csv
TP6 Archivos/empleados2.csv
TP6 Archivos/empleados3.csv
TP6 Archivos/promedios.txt
